.zone-petites-boites {
    display: grid;
    grid-template-areas: "a b c d"
                         "e f g h"
                         "i j k l"
                         "m n o p";
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 70px);
    border: 1px dashed black;
    justify-content: center;
}

.zone-grandes-boites {
    display: flex;
}

.zone-grandes-boites div {
    justify-content: space-between;
    width: 33%;
    margin: 10px;
}

div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}